@import '../../../styles/main';
.navbar {
	padding: 20px;
	width: 100%;
	z-index: 99;
	background: $bg;
	position: fixed;
	&__container {
		max-width: $max-width;
		padding-top: 20px;
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
	}
	&__links {
		.navbar__hamburger,
		.navbar__closeIcon {
			cursor: pointer;
			width: 50px;
			height: 50px;
			z-index: 20;
			color: $light;
			display: none;
			@media (max-width: 700px) {
				display: inline;
			}
			&:hover {
				color: $primary;
			}
		}
		ul {
			display: flex;
			align-items: center;
			flex-direction: row;
			@media (max-width: 700px) {
				transform: translateX(100%);
				transition: transform 0.5s ease;
				z-index: -5;
				position: fixed;
				top: 0;
				left: 0;
				padding-top: 120px;
				width: 100%;
				height: 100vh;
				text-align: center;
				flex-direction: column;
				align-items: center;
				background: $bg;
				> li {
					margin-bottom: 50px;
					a {
						font-size: 4rem;
					}
				}
			}
			li,
			a {
				margin-right: 20px;
				font-size: 2rem;
				font-weight: weight(medium);
				line-height: 23px;
				color: $light;
				transition: 50ms color ease-in-out;
				&:last-child {
					margin-right: 0px;
				}
				&:hover {
					color: $primary;
					cursor: pointer;
				}
			}
		}
	}
	.hide {
		display: none !important;
	}
	.show {
		display: flex !important;
		transform: translateX(0) !important;
		transition: transform 0.5s ease;
	}
}
