@import '../../../../styles/main';
.rp-card {
	min-height: 410px;
	max-width: 370px;
	width: 100%;
	margin: 10px 15px;
	border-radius: 4px;
	transition: 200ms transform ease-in-out;
	position: relative;
	&:hover {
		transform: scale(1.05);
	}
	&__image {
		min-height: 200px;
		img {
			border-radius: 4px 4px 0 0;
			max-width: 370px;
		}
	}
	&__contents {
		text-align: left;
		padding: 10px 20px;
		background: $bg-light;
		border-radius: 0 0 4px 4px;
		h4 {
			color: $light;
			margin-bottom: 5px;
		}
		p {
			margin-bottom: 10px;
		}
		button {
			margin-right: 10px;
		}
	}
	.repo-tag {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		width: max-content;
	}
	@media (max-width: 825px) {
		max-width: 90%;
		min-width: 370px;
		margin: 10px 15px;
		margin-bottom: 40px;
		padding: 0px;
		&__image {
			img {
				border-radius: 4px 4px 0 0;
				max-width: 100%;
			}
		}
		&__contents {
			padding-bottom: 30px;
			h4,
			p,
			button {
				margin-bottom: 20px;
				margin-right: 20px;
			}
		}
	}
}
